<!DOCTYPE html>
<html>
<head>
    <title>ХПЭТ Поиск подходящих профессий для выпускников 9 класса</title>
    <style>
        body {
            background-color: #1F1F1F;
        }
        button {
            background-color: #E52D27;
            color: white;
            font-size: 48px;
            padding: 16px 32px;
            border: none;
            border-radius: 8px;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }
    </style>
</head>
<body>
    <div>
        <button onclick="location.href='{% url 'home' %}'">Пройти тест</button>
    </div>
</body>
</html>